@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --min-height-main-section: 579px;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .sticky {
    position: sticky;
    position: -webkit-sticky;
  }

  .text-bg-fx {
    background-repeat: no-repeat;
    will-change: background-size;
    transition: background-size 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .text-bg-fx:hover {
    background-size: 100% 100%;
  }

  .text-bg-fx--scale-x {
    @apply px-0 py-0.5 lg:py-1;
    background-image: linear-gradient(
      hsla(245 58% 51% / 0.2),
      hsla(245 58% 51% / 0.2)
    );
    background-size: 0% 100%;
  }

  .text-bg-fx--scale-y {
    text-decoration: none;
    background-image: linear-gradient(
      hsla(245 58% 51% / 0.2),
      hsla(245 58% 51% / 0.2)
    );
    background-size: 100% 2px;
    background-position: center bottom;
  }

  .text-bg-fx--underline,
  .text-bg-fx--underline-bold {
    text-decoration: none;
    background-size: 0% 100%;
  }

  .text-bg-fx--underline {
    /* text underline size = 1px */
    background-image: linear-gradient(
      transparent calc(100% - 3px),
      currentColor calc(100% - 3px),
      currentColor calc(100% - 2px),
      transparent 2px
    );
  }

  .text-bg-fx--underline-bold {
    background-image: linear-gradient(
      transparent 50%,
      hsla(245 58% 51% / 0.2) 50%
    );
  }

  .text-bg-fx--text-shadow {
    /* you can use this with the .text-bg-fx--underline effect */
    text-shadow:
      1.5px 1px hsl(0, 0%, 100%),
      -1.5px 1px hsl(0, 0%, 100%),
      0px 1px hsl(0, 0%, 100%);
  }
}
